extends layout

block content
  div.mx-auto(id="main")
    div.text-center.mt-0(id="title")
      h1 What should I play on Steam
    div.container
      div.row.align-items-center
        div.col.text-center
          div.mx-auto.my-5
            form(action="/retrieve" method="POST" id="pageForm")
              p
                label.mr-2(for="username") Enter Your Steam Username
              p
                input(type="text" id="username" name="username" value=username)
              p
                button.btn.btn-sm.btn-outline-success.sharp(type="Submit") Query My Library
  
          div.mx-auto(id="game-div")
            if error
              div.text-center
                h5.text-danger We couldn't find your account. Make sure your profile is public.
            if name
              div.text-center.game-info
                h4 #{name}
              div.text-center
                  img(src=img_src)
              div.text-center.pt-3.game-info
                  h5 Time Played: #{played_time}
            if gamesLength > 1
              div.bg-secondary.mt-2.game-info
                #{gamesLength} games in your list
              div
                button.btn.btn-sm.btn-outline-info.mt-2.sharp(form="pageForm") Find Another      
