extends layout

block content
  h1= title
  div
    form(action="/retrieve" method="POST")
      label(for="ID") Your Steam User ID
      input(type="text" name="steamid" value=steamid)
      button(type="Submit") Find Game
  if game.name
    div
      p #{subtitle}
      h2 #{game.name}
      h4 Total Time Played: #{Math.floor(game.playtime_forever / 60) } hours.
      img(src=`http://media.steampowered.com/steamcommunity/public/images/apps/${game.appid}/${game.img_logo_url}.jpg`)
